/*homepage css*/

.trumpFeed {
	height: 800px;
	overflow-y: auto;
}

.logo {
	display: block;
	background-color: white;
	width: 100%;
}

.homeContainer {
	background-color: #ffcc80;
	color:black;
}

.homeContainer, .trumpFeed {
	text-align: center;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

h3 {
	font-family: "Times New Roman", serif;
	font-weight: 900;
}
