.author {
    font-family:sans-serif;
    font-size:1.5rem;
    font-weight:100;
    margin-right:15px;
    color:OrangeRed;
}

/*up & down votes*/
.likes {
    float:right;
    line-height: 3rem;
    margin-right: 2%;
    margin-left: 2%;
    opacity:.4;
    font-style: italic;
}

.time {
    line-height: 3rem;
    opacity:.4;
    font-style: italic;
}

.content {
  line-height: 3rem;
  margin-left: 5%;
  font-weight: 200;
  font-family: monospace;
}

.comment{
  float:right;
  line-height: 3rem;
  margin-right: 10%;
  opacity:.4;
  font-style: italic;
}
.tweetWrapper {
    border-bottom:1px solid #d3d3d3;
    user-select: none;
}

.fa-thumbs-up:hover {
    color:DarkOrange;
    cursor:pointer;
}

.fa-thumbs-down:hover {
    color:red;
    cursor:pointer;
}

.fa-comments:hover {
  cursor:pointer;
  color:DarkRed;
}

/*broadcast box*/
#sendBox {
  position: relative;
  border: .5px double black;
  margin-bottom: 3px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5% 10% 5% 10%;
}

/*description that says "broadcast thoughts..."*/
#message-id {
  padding-left: 2px;
  padding-top: 2px;
  margin-left: 8px;
  margin-top: 16px;
}

/*all buttons*/
.btn {
  background-color:DarkOrange;
}

.btn:hover {
  background-color:pink;
}

/*entire msg container*/
.tweet-container {
  border: 2px double black;
  margin-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 10% 20% 10%;
}

/*broadcast specific button*/
#broadcast-btn {
  margin: -25% 20% 5% 10%;
}

h5 {
  text-align: center;
  padding-top: 60px;
  font-stretch:extra-expanded;
  padding-bottom: 10px;
}
